<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geelong.user">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeeLong">
        <activity
            android:name=".Activity.Chat"
            android:exported="false" />
        <activity
            android:name=".Activity.MessageAct"
            android:exported="false" />
        <activity
            android:name=".Activity.CallActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DriverDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.Payment_method"
            android:exported="false" />
        <activity
            android:name=".Activity.FareDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.Pay_Now"
            android:exported="false" />
        <activity
            android:name=".Activity.Notification"
            android:exported="false" />
        <activity
            android:name=".Activity.TripDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.TermsCondition"
            android:exported="false" />
        <activity
            android:name=".Activity.Privacy_Policy"
            android:exported="false" />
        <activity
            android:name=".Activity.ConfirmPick_up"
            android:exported="false" />
        <activity
            android:name=".Activity.Confirm"
            android:exported="false" />
        <activity
            android:name=".Activity.AccountEdit"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.Acccount"
            android:exported="false" />
        <activity
            android:name=".Activity.Search1"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKV5mMwONFDI_qwVN_ro1zdMkH-rQYQvk" />

        <activity
            android:name=".Activity.Search"
            android:exported="false" />
        <activity
            android:name=".Activity.Otp"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.Sign_Up"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>